* {
  margin: 0;
  text-align: center;
}
body {
  background: linear-gradient(#0f2027, #203a43, #2c5364);
  background-size: cover;
  background-repeat: no-repeat;
  height: 1000px;
}

#blob {
  border-radius: 50%;
  display: block;
  width: 400px;
  height: 400px;
  object-fit: cover;
  margin: 100px auto;
  -webkit-box-shadow: 1px 2px 23px 7px #000000;
  box-shadow: 1px 2px 23px 7px #000000;
}

h1 {
  font-size: 120px;
}
header nav ul li {
  list-style: none;
}

.material-symbols-outlined{
    font-size: 250px;
}
