* {
  margin: 0;
  text-align: center;
}
body {
  background: linear-gradient(#0f2027, #203a43, #2c5364);
  background-size: cover;
  background-repeat: no-repeat;
}

#blob {
  border-radius: 50%;
  display: block;
  width: 400px;
  height: 400px;
  object-fit: cover;
  margin: 100px auto;
  -webkit-box-shadow: 1px 2px 23px 7px #000000;
  box-shadow: 1px 2px 27px 2px #000000;
}

h1, h2 {
  font-size: 120px;
  color: #f4f1bb;
  font-family: "Pacifico", cursive;
}

.material-symbols-outlined {
  font-size: 250px;
}

.text {
width: 90%;
margin: auto;
  font-size: 2rem;
  font-family: "Oswald", sans-serif;
  text-align: left;
}

.fa-hand-holding-heart {
  font-size: 40px;
  color: #f4f1bb;
}

ul {
  list-style-type: none;
  margin: 20px auto;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  width: 95%;
  align-items: center;
  background-color: rgba(224,225,221,0.1);
  border-radius: 20px;
}

li {
  font-family: "Pacifico", cursive;
  font-size: 30px;
}

li a,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: #1b263b;
  border-radius: 15px;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #596869;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #1b263b;
  border-radius: 0px;
}

.dropdown:hover .dropdown-content {
  display: block;
}



table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 50px auto;
    font-family: "Oswald", sans-serif;
    font-size: 40px;
}
td, th {
    border: 2px solid black;
    padding: 10px 10px;
}
